<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rdv/style.css' %}">
    <title>Ajouter un rdv</title>
</head>
<body>
<h3>Ajouter un rendez-vous</h3>

<div>
    <p>{{ doctor }}</p>
    <p>{{ patient }}</p>
    <p>{{ type }}</p>
    <p>{{ date }}</p>
</div>

<form action="{% url 'rdv:add_rdv_view' date=date patient=patient.id type=type doctor=doctor.id %}" method="post">
    {% csrf_token %}
    <label for="hours">Choisir le créneau</label>
    <input type="time" id="hours" name="hours">
    <input type="submit" value="Ajouter">
</form>

</body>
</html>