<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choisir un créneau horaire</title>
</head>
<body>
<h3>Choisir un créneau horaire</h3>

<form action="{% url 'rdv:choose_rdv_view' date=date my_type=my_type patient_id=patient_id doctor_id=doctor_id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="date" value="{{date}}">
    <input type="hidden" name="my_type" value="{{my_type}}">
    <input type="hidden" name="patient_id" value="{{patient_id}}">
    <input type="hidden" name="doctor_id" value="{{doctor_id}}">
    {{ form }}
    <input type="submit" value="Submit">
</form>

</body>
</html>